body {
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 10px; }

.container {
  height: 300px;
  width: 300px;
  background-image: url("/img/IMG_7026.jpg");
  background-position: center;
  background-size: cover;
  text-align: center; }
  .container img {
    width: 100%;
    margin-top: 30px; }

h2 {
  color: white;
  text-align: center;
  font-size: 2em;
  line-height: 90%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: auto;
  width: 100%; }

input {
  border: 1px solid #076fe4;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #8ebcf1;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #4294f0;
  background-image: -webkit-linear-gradient(#4294f0, #0776f3);
  background-image: linear-gradient(#4294f0, #0776f3);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #0065d6;
  background-clip: padding-box;
  margin: 15px auto;
  text-align: center;
  text-transform: uppercase; }

input:hover:not(:disabled) {
  background-color: #2f87ea;
  background-image: -webkit-linear-gradient(#2f87ea, #086fe3);
  background-image: linear-gradient(#2f87ea, #086fe3);
  box-shadow: inset 0 1px 0 0 #60a2ec;
  cursor: pointer; }

input:active:not(:disabled), input:focus:not(:disabled) {
  border: 1px solid #076fe4;
  box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3; }

input:disabled {
  cursor: not-allowed;
  opacity: 0.5; }
